div.ski-day-count {
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
  height: calc(100% - 3em);

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    &.total-days {
      flex-basis: 100%;
      font-size: 2em;

      span {
        height: 200px;
      }
    }

    &:not(.total-days) {
      flex-basis: 50%;
    }

    span {
      background-color: white;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}
